body {
  margin: 0px;
  height: 100%;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  margin-left: 250px;
  margin-top: 20px;
}
nav {
  margin: 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: rgb(0, 0, 0);
  text-align: center;
}

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-sidebar {
  position: absolute;
  top: 30;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
}

.main-sidebar,
.filtraMenu {
  width: auto;
}

.topbar {
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 50px;
  border-radius: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
}
